.drop-zone {
    border: 2px dashed $mainColor;
    pointer-events: auto;
    position: relative;
    min-height: 40rem;

    @media (max-width: $md3+px) {
        border: none;
        min-height: 69px;
    }

    @media (min-width: 992px) {
        &:hover {
            & .btn {
                color: $hover;
            }
        }
    }

    &.dz-drag-hover {
        & .drop-zone__body {
            opacity: 0.7;
        }
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        pointer-events: none;

        @media (max-width: $md3+px) {
            padding: 10px;
            justify-content: center;
            border: 2px dashed $mainColor;
            height: 69px;
            position: static;
        }



        & > span {
            margin-bottom: 2.4rem;

            @media (max-width: $md3+px) {
                font-size: 14px !important;
                line-height: 1.5em;
                margin-bottom: 12px;
            }
        }
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }

    &__title {
        font-family: $titleFontFamily;
        font-weight: 600;
        margin-bottom: 2.4rem;
        display: block;

        @media (max-width: $md3+px) {
            font-size: 14px !important;
            line-height: 1.5em;
            margin-bottom: 0px;
        }
    }

    &__fraction {
        position: absolute;
        z-index: 3;
        right: 2rem;
        bottom: 2rem;
        font-size: 1.6rem;
        line-height: 1.5em;

        @media (max-width: $md3+px) {
            right: 10px;
            bottom: auto;
            top: 40px;
            font-size: 14px;
        }
    }

    & .btn {
        color: inherit;
        height: 17.2rem;
        width: 17.2rem;

        @media (max-width: $md3+px) {
            height: 140px;
            width: 140px;
        }

        & .btn__text {
            @media (max-width: $md3+px) {
                font-size: 14px;
            }
        }
    }

    &__preview {
        position: relative;
        z-index: 2;
        display: none;
        flex-wrap: wrap;
        align-self: flex-start;
        min-height: 40rem;
        padding-bottom: 3rem;

        @media (max-width: $md3+px) {
            min-height: 0px;
            padding-bottom: 0px;
        }

        & .dz-preview.dz-image-preview {
            flex: 0 1 20%;
            background-color: transparent;
            margin: 0;
            padding: 15px 7.5px;

            @media (max-width: $md3+px) {
                padding: 10px 5px;
                flex: 0 1 20%;
            }

            & .dz-image {
                border-radius: 0;
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                position: relative;

                & img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    z-index: 1;
                    object-fit: cover;
                }
            }

            & .dz-details {
                line-height: 1;
            }

            & .dz-success-mark,
            & .dz-error-mark,
            & .dz-progress {
                top: 70px;

                @media (max-width: $md3+px) {
                    top: 50px;
                }
            }

            & .dz-remove {
                position: absolute;
                z-index: 30;
                top: 0;
                right: 0;
                width: 2.4rem;
                height: 2.4rem;
                font-size: 0;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                &:before {
                    content: "";
                    height: 0.6rem;
                    width: 0.6rem;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMS4xMjAxMiAxLjEyMTA5TDYuODgwMTIgNi44ODEwOSIgc3Ryb2tlPSIjMjIyMjIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTYuODc5ODggMS4xMjEwOUwxLjExOTg4IDYuODgxMDkiIHN0cm9rZT0iIzIyMjIyMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            & .dz-error-message {
                top: 160px;

                @media (max-width: $md3+px) {
                    top: 120px;
                }
            }
        }
    }

    &--has-files {
        & .drop-zone__body {
            @media (min-width: 768px) {
                display: none;
            }
        }

        & .drop-zone__preview {
            display: flex;
        }
    }

    &--second {
        border: none;
        min-height: 60px;

        &.drop-zone--has-files {
            & .drop-zone__body {
                display: flex !important;
            }
        }

        & .drop-zone__body {
            padding: 10px;
            justify-content: center;
            border: 2px dashed $mainColor;
            height: 60px;
            position: static;
        }

        & .drop-zone__title {
            margin-bottom: 0px;
        }

        & .drop-zone__preview {
            min-height: 0px;
            padding-bottom: 0px;
        }

        & .drop-zone__fraction {
            right: 10px;
            bottom: auto;
            top: 35px;
        }
    }
}

form.dropzone {
    pointer-events: none;
    padding: 0;
    background-color: transparent;
    border: none;
    min-height: auto;
    border: none !important;

    & .dz-default.dz-message {
        display: none;
    }

    & > .dz-preview {
        display: none;
    }
}
