.gallery-carousel {
    &__inner {
        padding: 5rem 0;
        background-color: $bgSecondary;
    }

    &__head {
    }

    &__slider {

    }

    &__slider-item {
        display: block;
        height: 0;
        padding-bottom: 82.8%;

        @media (max-width: $md3+px) {
            padding-bottom: 65.67%;
        }
    }
}
