.see-more-ban {
    font-size: 1rem;


    @media (max-width: $md3+px) {
        font-size: 6.7px;
    }

    & .swiper {
        overflow: visible;
        display: block;
        color: $lightColor;
        transition: all .3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $hover;

                & .see-more-ban__circle {
                    background-color: $hover;
                    color: $lightColor;
                }
            }
        }

        &:active {
            color: $active !important;

            & .see-more-ban__circle {
                background-color: $active !important;
                color: $lightColor !important;
            }
        }
    }

    & .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    & .swiper-slide {
        width: auto;
        display: flex;
        align-items: center;
        padding: 0 1em;
        font-size: 9.9em;
        line-height: 1.5em;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: $secondColor;
        font-weight: 300;

        @media (max-width: $md3+px) {
            font-size: 40px;
        }

        & strong {
            font-weight: 400;
        }
        
        & > span {
            margin-right: 0.3em;
            font-style: italic;
        }
    }

    &__circle {
        flex: 0 0 auto;
        width: 15rem;
        height: 15rem;
        background-color: $secondColor !important;
        color: #fff;
        border-radius: 50%;
        font-family: $titleFontFamily;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8rem;
        transform: rotate(-15deg);
        transition: all .3s ease;

        & span {
            font-size: 1.8rem;
            line-height: 1.5rem;
            text-transform: none;
            letter-spacing: 0;
        }
    }

    &.type-3 {
        & .swiper-slide {
            padding: 0;
        }
    }
}
