.gallery-product-detail {
    @media (min-width: 992px) {
        overflow: visible;

        & .swiper-wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: -2.5rem;
        }

        & .swiper-slide {
            height: auto;
            width: auto;
            flex: 0 1 calc(50% - 1.25rem);
            margin-bottom: 2.5rem;

            &:nth-child(3n + 1) {
                flex: 0 1 100%;

                & .gallery-product-detail__item {
                    padding-bottom: 72%;
                }
            }
        }
    }

    @media (max-width: $md3+px) {
        width: auto;
        margin: 0 -20px;
    }

    &.hide-cover-elements {
        @media (max-width: $md2+px) {
            & .gallery-product-detail__label-group, & .product-card__like {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &__label-group {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 5;
        display: flex;
        flex-direction: column;
        transition: all .3s ease;
    }

    &__label {
        margin-bottom: 0.5rem;

        &.card-label {
            @media (max-width: $md3+px) {
                font-size: 12px;
            }
        }
    }

    & .product-card__like {
        top: 1.5rem;
        right: 1.5rem;
        font-size: 2.4rem;
        transition: all .3s ease;
    }

    &__item {
        position: relative;
        height: 0;
        padding-bottom: 120.68%;

        @media (max-width: $md2+px) {
            padding-bottom: 90.66%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgSecondary;

        &:not(.gallery-product-detail__img--cover) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5rem;

            & img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }

    &__img--cover {
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
        }
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgSecondary;
    }

    & .swiper-pagination {
        display: inline-block;
        left: auto;
        width: auto;
        left: 2rem;
        bottom: 2rem;

        @media (min-width: 992px) {
            display: none;
        }

        & .swiper-pagination-bullet {
            height: 6px;
            width: 6px;
            opacity: 1;
            background-color: #C4C4C4;
            margin: 0 3px;
            transition: all .3s ease;
            border-radius: 100px;

            &.swiper-pagination-bullet-active {
                width: 30px;
                background-color: $secondColor;
            }
        }
    }
}
