<div class="carousel @@modClass @@class padding-wrap" data-carousel="@@mod">
    <div class="container-sm">
        <div class="carousel__head head d-flex align-items-center justify-content-between">
            <h3 class="head__title mb-0">@@title</h3>
            @@include('../slider-buttons/_slider-buttons.html')
        </div>
        <div class="carousel__slider swiper">
            <div class="swiper-wrapper">
                @@if (type === 'products') {
                    <div class="swiper-slide">
                        @@include('../product-card/_product-card.html', {
                        "label": false,
                        "labelText": 'hit',
                        "img": "img/photo/product-list-img-1.png",
                        "title": "Sprossenwand 5-in-1 aus Kiefer Naturholz",
                        "price": "437,00€"
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../product-card/_product-card.html', {
                        "label": false,
                        "labelText": 'hit',
                        "img": "img/photo/product-list-img-2.png",
                        "title": "Sprossenwand 5-in-1 aus Kiefer Schwarz",
                        "price": "471,00€"
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../product-card/_product-card.html', {
                        "label": false,
                        "labelText": 'SALE',
                        "img": "img/photo/product-list-img-3.png",
                        "title": "Kinderbett “Piratenschiff” aus Kiefer oder Esche...",
                        "price": "501,00€ – 595,00€"
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../product-card/_product-card.html', {
                        "label": false,
                        "labelText": 'hit',
                        "img": "img/photo/product-list-img-1.png",
                        "title": "Kletterspielplatz „Kleinkind“ von Kidsmont",
                        "price": "512,00€"
                        })
                    </div>
                }

                @@if (type === 'posts') {
                    <div class="swiper-slide">
                        @@include('../post-card/_post-card.html', {
                            "img": "img/photo/post-card-img-12.jpg",
                            "title": "International Children's Day. Celebrate with us!",
                            "text": "June 1 is celebrated by all the children in the world. On this occasion, we are giving up to 70%* discount on many of our accessories for 2 weeks."
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../post-card/_post-card.html', {
                            "img": "img/photo/post-card-img-13.jpg",
                            "title": "International Children's Day. Celebrate with us!",
                            "text": "June 1 is celebrated by all the children in the world. On this occasion, we are giving up to 70%* discount on many of our accessories for 2 weeks."
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../post-card/_post-card.html', {
                            "img": "img/photo/post-card-img-14.jpg",
                            "title": "International Children's Day. Celebrate with us!",
                            "text": "June 1 is celebrated by all the children in the world. On this occasion, we are giving up to 70%* discount on many of our accessories for 2 weeks."
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../post-card/_post-card.html', {
                            "img": "img/photo/post-card-img-15.jpg",
                            "title": "International Children's Day. Celebrate with us!",
                            "text": "June 1 is celebrated by all the children in the world. On this occasion, we are giving up to 70%* discount on many of our accessories for 2 weeks."
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../post-card/_post-card.html', {
                            "img": "img/photo/post-card-img-1.jpg",
                            "title": "International Children's Day. Celebrate with us!",
                            "text": "June 1 is celebrated by all the children in the world. On this occasion, we are giving up to 70%* discount on many of our accessories for 2 weeks."
                        })
                    </div>
                    <div class="swiper-slide">
                        @@include('../post-card/_post-card.html', {
                            "img": "img/photo/post-card-img-2.jpg",
                            "title": "International Children's Day. Celebrate with us!",
                            "text": "June 1 is celebrated by all the children in the world. On this occasion, we are giving up to 70%* discount on many of our accessories for 2 weeks."
                        })
                    </div>
                }
            </div>
        </div>
    </div>
</div>