.carousel {
    min-width: 0;
    &__head {
        margin-bottom: 5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 36px;
        }
    }
    &__slider {
        border-bottom: 2px solid $borderColor;
        padding-bottom: 2px;
        margin-bottom: -2px;
    }

    &--fixed-width  {
        & .swiper-slide {
            width: 30rem;
        }
    }
}

.carousel-preview-posts {
    & .post-card {
        border-bottom: none;
    }
}