.orders-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-bottom: 5rem;

    @media (max-width: $md2+px) {
        border-top: 1px solid $borderColor;
    }

    @media (max-width: $md3+px) {
        margin-bottom: 24px;
    }

    & > li {
        &:first-child {
            @media (min-width: 992px) {
                & .orders-list__main-info-row {
                    padding-top: 0;
                }

                & .orders-list__icon {
                    transform: translateY(calc(-50% - (3.6rem / 2)));
                }
            }
        }
    }
    &__main-info-row {
        position: relative;
        display: flex;
        padding: 3.6rem 0;
        border-bottom: 1px solid $borderColor;

        @media (max-width: $md3+px) {
            padding: 24px 0;
            justify-content: space-between;
            padding-right: 8px;
        }
    }

    &__main-info-col {
        &:nth-child(1) {
            flex: 0 0 37.12%;
            @media (max-width: $md3+px) {
                flex: 0 1 auto;
            }
        }
        &:nth-child(2) {
            flex: 0 0 35.92%;
            @media (max-width: $md3+px) {
                flex: 0 1 auto;
            }
        }
        &:nth-child(3) {
            flex: 1 1 auto;
            @media (max-width: $md3+px) {
                flex: 0 1 auto;
            }
        }

        &:not(:last-child) {
            margin-right: 16px;
        }

        & div {
            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 1.5em;
            }

            &:not(:last-child) {
                margin-bottom: 0.6rem;
            }

            & strong {
                font-weight: 600;
                font-family: $titleFontFamily;
            }
        }
    }

    &__icon {
        position: absolute;
        z-index: 5;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: #fff;
        font-size: 2.4rem;
        transition: all 0.3s ease;
        cursor: pointer;

        @media (max-width: $md3+px) {
            background-color: transparent;
            height: auto;
            width: auto;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $hover;
                color: $lightColor;
            }
        }

        &.active {
            & span:before {
                height: 0;
            }

            & span {
                @media (max-width: $md3+px) {
                    transform: scale(1, -1);
                }
            }
        }

        & > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            display: block;

            @media (min-width: 768px) {
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1px;
                    height: 100%;
                    background-color: $mainColor;
                    transition: all 0.3s ease;
                }
                &:after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 1px;
                    background-color: $mainColor;
                }
            }

            @media (max-width: $md3+px) {
                display: block;
                position: static;
                -webkit-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOSA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC41IDVMOC4zOTcxMSAwLjVIMC42MDI4ODZMNC41IDVaIiBmaWxsPSIjMjIyMjIyIi8+Cjwvc3ZnPgo=);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 9px;
                height: 6px;
            }
        }
    }

    &__detail-info-row {
        display: none;
    }
}

.order-detail-card {
    background-color: $bgSecondary;
    position: relative;
    padding: 2.4rem 3rem;

    @media (max-width: $md3+px) {
        padding: 15px;
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: $borderColor;
    }

    &__row-1 {
        margin-bottom: 2.4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }
    }

    &__row-2 {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 72.7rem;
        }
    }

    &__col {
        &:not(:last-child) {
            @media (min-width: 768px) {
                margin-right: 1.5rem;
            }
            @media (max-width: $md3+px) {
                margin-bottom: 12px;
            }
        }

        &:first-child {
            @media (min-width: 768px) {
                max-width: 30rem;
            }
        }

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 1.5em;
        }
    }
}
