.promo-header {
    position: relative;

    $height: 810;
    $width: 1400;
    $heightMob: 503;
    $widthMob: 375;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        background-color: $bgSecondary;

        @media (max-width: $md3+px) {
            position: relative;
            height: 0;
            padding-bottom: 118.8%;
        }
    }

    &__img {
        flex: 0 1 48%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        @media (max-width: $md3+px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            flex: 0 1 auto;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

        & video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
        }
    }

    &__body {
        position: relative;
        padding-bottom: 50%;

        @media (max-width: $md3+px) {
            padding-top: 24px;
            padding-bottom: 80px;
            z-index: 3;
        }
    }

    &__title-wrap {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        @media (max-width: $md3+px) {
            position: static;
        }
    }

    &__title-container {
        position: absolute;
        top: 27.75%;
        left: 0;
        width: 100%;

        @media (max-width: $md3+px) {
            position: static;
        }
    }

    &__title {
        // position: absolute;
        // top: 27.75%;
        // left: 0;
        display: block;
        font-family: $titleFontFamily;
        font-weight: 600;
        font-size: 6.2em;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0;
        opacity: 0;

        @media (max-width: $md3+px) {
            font-size: 32px;
            line-height: 130%;

            & strong:not(:last-child) {
                @media (min-width: 768px) {
                    margin-bottom: 0.5em;
                }
            }
        }

        @media (max-width: 374.98px) {
            font-size: 28px;
        }

        &.is-inview {
            opacity: 1;

            & span {
                transform: translateY(0%);
            }
        }

        & strong {
            display: block;
            overflow: hidden;
        }

        & span {
            display: inline-block;
            transform: translateY(100%);
            transition: transform 0.6s ease 0.3s;
        }

        &--layer-1 {
            z-index: 1;
            pointer-events: auto;
        }
        &--layer-2 {
            // position: relative;
            // z-index: 2;

            //clip-path: circle(12% at -50% -50%);
            // opacity: 0;
            // transition: opacity .1s ease;
            // pointer-events: none;
        }
    }

    &__title-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $secondColor;
        color: #fff;
        z-index: 2;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        clip-path: circle(12% at -50% -50%);
        pointer-events: none;

        &._anime {
            transition: opacity 0.3s ease;
            opacity: 1;
        }
    }

    &__title-discover {
        font-size: 1.8em;
        line-height: 1em;
        text-transform: none;
        position: absolute;
        z-index: 10;
        transform: translate(-50%, -50%) rotate(15deg);
        left: 52%;
        top: 51%;
        font-weight: 400;
        pointer-events: none;
    }

    &__mob-btn {
        position: absolute;
        top: 65%;
        left: 50%;
        margin: 0 auto;
        flex: 0 0 auto;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        color: $lightColor;
        transform: translate(-50%, 0%) rotate(15deg);
        background-color: $hover;
        font-size: 18px;

        @media (min-width: 992px) {
            display: none;
        }

        @media (max-width: $md3+px) {
            top: auto;
            left: auto;
            right: 20px;
            bottom: 0;
            transform: translate(0%, 50%) rotate(15deg);
        }
    }
}
