.tabs {
    @media (min-width: 768px) {
        display: flex;
    }

    &__col-1 {
        flex: 1 1 auto;
        padding-right: 4rem;
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            padding-right: 0;
        }
    }

    &__col-2 {
        flex: 0 0 65.23%;
        position: relative;
        z-index: 1;

        & .accordion {
            border-top: none;

            & > li:first-child {
                padding-top: 0;
                min-height: 6.4rem;
            }
        }
    }

    &__nav {
        margin-bottom: 3.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__nav-list {
        overflow: visible;
        @media (min-width: 768px) {
            & .swiper-wrapper {
                flex-direction: column;
            }
        }

        @media (max-width: $md3+px) {
            display: none;
        }

        & .swiper-slide {
            &:not(:last-child) {
                margin-bottom: 2.4rem;

                @media (max-width: $md2+px) {
                    margin-bottom: 16px;
                }

                @media (max-width: $md3+px) {
                    margin-bottom: 0;
                    width: auto;
                }
            }
        }

        & a {
            font-family: $titleFontFamily;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 150%;
            transition: all 0.3s ease;
            text-transform: uppercase;
            color: $textColorSecondary;

            @media (max-width: $md2+px) {
                font-size: 18px;
            }

            @media (max-width: $md3+px) {
                font-size: 24px;
            }

            &.tab-active {
                color: $textColor;
            }

            @media (min-width: 992px) {
                &:hover:not(.tab-active) {
                    color: #a3a3a3;
                }
            }
        }
    }

    &__nav-select {
        //margin-bottom: 0;

        margin: 0 -20px;
        position: relative;
        z-index: 10;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        margin-bottom: 16px;
        padding: 0 20px;

        @media (min-width: 768px) {
            display: none;
        }

        & .select__value {
            border: none !important;
            min-height: 52px;
        }

        & .select__value span {
            font-family: $titleFontFamily;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
        }

        // & .select {
        //     & .select__title {
        //         display: flex;
        //         align-items: center;
        //         min-height: 3.8rem;
        //         border: 1px solid $borderColor;
        //         padding: 0.8rem 2.5rem 0.8rem 1.5rem;
        //         min-width: 17.6rem;
        //     }

        //     & .select__label {
        //         font-size: 1.4rem;
        //         line-height: 1.5em;
        //         margin-right: 0.6rem;
        //         color: #9e9e9e;
        //     }
        //     & .select__value {
        //         min-height: auto;
        //         border: none;
        //         padding-right: 0;

        //         & span {
        //             font-size: 1.8rem;
        //             font-weight: 600;
        //             font-family: $titleFontFamily;
        //             text-transform: uppercase;
        //         }

        //         &::before {
        //             right: 1.5rem;
        //         }
        //     }
        // }
    }

    &__content {
    }
}
