.account {
    &__body {

        @media (min-width: 768px) {
            padding-top: 3.6rem;
            border-top: 1px solid $borderColor;
    
        }
    }

    &__bottom-link {
        padding-top: 36px;
        width: 100%;
        text-align: center;
        display: none;

        @media (min-width: 768px) {
            display: none;
        }
    }

    & .tabs {
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    & .tabs__col-1 {
        @media (max-width: $md2+px) {
            padding-right: 0;
        }
    }

    & .tabs__nav {
        @media (max-width: $md3+px) {
            margin-bottom: 0;
        }
    }

    & .tabs__nav-list {
        @media (max-width: $md2+px) {
            & .swiper-wrapper {
                flex-direction: row;
            }

            & .swiper-slide {
                width: auto;
                margin-bottom: 0;
                padding-right: 25px;
            }
        }

        @media (max-width: $md3+px) {
            & .swiper-slide {
                padding-right: 0px;
            }
        }
    }

    & .form {
        
        @media (min-width: 992px) {
            max-width: 64rem;
            margin-left: auto;
        }
    }

    & .orders-list {
        @media (max-width: $md3+px) {
            border-top: none;
        }
    }
}


.go-out-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: $titleFontFamily;
    justify-content: space-between;

    & img, & svg {
        flex: 0 0 auto;
        margin-left: 1.5rem;
    }
}

// forgot password page
.woocommerce-ResetPassword {
	width: calc(100% - 200px);
	max-width: 128rem !important;
	margin: 0 auto;
	padding: 0rem 0 6rem;

	@media (max-width: $md1+px) {
		width: calc(100% - 100px);
	}

	@media (max-width: $md2+px) {
		width: calc(100% - 64px);
	}
	@media (max-width: $md3+px) {
		width: calc(100% - 40px);
        padding: 0px 0 36px;
	}

    & > p:first-child {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5em;

        @media (max-width: $md3+px) {
            font-size: 18px ;
        }
    }

    & > p.woocommerce-form-row--first {
        margin-bottom: 5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    & label[for="user_login"] {
        display: none !important;
    }
}

.woocommerce-lost-password {
    & .woocommerce-notices-wrapper {
        width: calc(100% - 200px);
        max-width: 128rem !important;
        margin: 0 auto;
    
        @media (max-width: $md1+px) {
            width: calc(100% - 100px);
        }
    
        @media (max-width: $md2+px) {
            width: calc(100% - 64px);
        }
        @media (max-width: $md3+px) {
            width: calc(100% - 40px);
        }
    }
}