.blog {
    &__filter {
        margin-bottom: 3.8rem;
        padding-left: 0;
        display: flex;
        border-top: 1px solid $borderColor;
        padding-bottom: 1.2rem;

        @media (max-width: $md3+px) {
            display: none;
        }

        & > li {
            margin-right: 3.2rem;
            flex: 0 0 auto;

            @media (max-width: $md3+px) {
                margin-right: 20px;
            }
        }
    }

    &__filter-mob {
        margin: 0 -20px;
        position: relative;
        z-index: 10;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        margin-bottom: 16px;
        padding: 0 20px;

        @media (min-width: 768px) {
            display: none;
        }

        & .select__value {
            border: none !important;
        }

        & .select__value span {
            font-family: $titleFontFamily;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    &__filter-mob-btn {
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        min-height: 52px;
        position: relative;
        font-family: $titleFontFamily;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        text-transform: uppercase;
        width: 100%;
        background-color: transparent;
        padding-right: 20px;

        &:before {
            position: absolute;
            content: "";
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOSA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC41IDVMOC4zOTcxMSAwLjVIMC42MDI4ODZMNC41IDVaIiBmaWxsPSIjMjIyMjIyIi8+Cjwvc3ZnPgo=);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 9px;
            height: 6px;
        }
    }

    &__filter-item {
        font-family: $titleFontFamily;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 150%;
        color: $textColorThird;
        transition: all 0.3s ease;
        position: relative;
        padding-top: 1.6rem;
        display: inline-block;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }

        @media (max-width: $md3+px) {
            font-size: 18px;
        }

        &:before {
            position: absolute;
            content: "";
            top: -1px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $mainColor;
            transition: all 0.3s ease;
        }

        &--active {
            color: $mainColor;

            &:before {
                width: 100%;
            }
        }
    }

    &__list {
        margin-bottom: 3.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__bottom {
    }
}
