.faq {
    &__head {
        margin-bottom: 6rem;
        position: relative;
        z-index: 3;

        @media (max-width: $md3+px) {
            position: relative;
            z-index: 5;
            border-top: 1px solid $borderColor;
            border-bottom: 1px solid $borderColor;
            margin: 0 -20px;
            display: flex;
        }

        & .search-result {
            background-color: $bg;
            box-shadow: 5px 5px 10px rgba($mainColor, 0.15);
            padding: 2rem;
            transition: all .3s ease;

            &:empty {
                opacity: 0 !important;
            }
        }
    }

    &__mob-search-btn {
        position: relative;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        padding: 8px 20px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 18px;
        line-height: 150%;
        min-height: 52px;

        @media (min-width: 768px) {
            display: none;
        }

        & img {
            flex: 0 0 auto;
            width: 20px;
            height: auto;
            margin-right: 12px;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: $borderColor;
        }

        &:active {
            background-color: #ebe8e4 !important;
        }
    }

    &__mob-select {
        flex: 0 0 50%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 20px;
        font-size: 18px;
        line-height: 150%;
        border: none;
        outline: none;
        background-color: transparent;
        min-height: 52px;


        @media (min-width: 768px) {
            display: none;
        }

        & img {
            flex: 0 0 auto;
            width: 20px;
            height: auto;
            margin-right: 12px;
        }

        &:before {
			position: absolute;
			content: "";
			transition: all 0.3s ease 0s;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOSA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC41IDVMOC4zOTcxMSAwLjVIMC42MDI4ODZMNC41IDVaIiBmaWxsPSIjMjIyMjIyIi8+Cjwvc3ZnPgo=");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 9px;
			height: 6px;
		}

        &:active {
            background-color: #ebe8e4 !important;
        }

    }

    &__search {
        position: relative;

        @media (max-width: $md3+px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 49;
            height: 60px;
            background-color: $bg;
            padding: 0 20px;
            transition: all 0.4s ease;
            transform: translateY(-100%);
            display: flex;
            align-items: center;
        
            &--show {
                transform: translateY(0);

                & .search-result {
                    opacity: 1 !important;
                    pointer-events: auto;
                }
            }
        }

        & .main-search__close {
            @media (min-width: 768px) {
                display: none;
            }
        }

        & .search-result {
            border-top: 1px solid $borderColor;
            background-color: $bg;
            left: 0;
            top: 100%;
            padding: 8px 20px;
            opacity: 0 !important;
            pointer-events: none;
            transition: all .3s ease;

            &:empty {
                opacity: 0 !important;
                pointer-events: none;
            }
        }
    }

    &__search-submit {
        position: absolute;
        left: -0.5rem;
        top: -0.8rem;
        border: none;
        outline: none;
        padding: 0.5rem;
        font-size: 2.4rem;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $hover;
            }
        }

        @media (max-width: $md3+px) {
            position: relative;
            flex: 0 0 auto;
            font-size: 24px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border: none;
            outline: none;
            background: transparent;
            transform: translate(0);
            left: 0;
            top: 0;
        }
    }

    &__search-input {
        display: flex;
        background-color: transparent;
        width: 100%;
        border: none;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $borderColor;
        transition: all 0.3s ease;
        padding-left: 4.8rem;
        font-size: 1.8rem;
        line-height: 1.5em;
        height: auto;

        @media (max-width: $md3+px) {
            flex: 1 1 auto;
            color: $textColor;
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 1.2em;
            background: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            padding: 0;
        }

        &::placeholder {
            color: #c4c4c4;
        }

        &:focus {
            border-color: $mainColor;
        }

        &:-webkit-autofill {
            background-color: transparent;
            box-shadow: inset 0px 0px 30px 30px #f3f1ef;
        }
        &:autofill {
            background-color: transparent;
            box-shadow: inset 0px 0px 30px 30px #f3f1ef;
        }
    }

    &__body {
    }

    & .tabs__col-1 {
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    & .tabs__col-2 .accordion > li:first-child {
        @media (max-width: $md3+px) {
            padding-top: 24px;
        }
    }
}
