.reviews-list {
    padding-left: 0;
    margin-bottom: 0;
    border-top: 1px solid $borderColor;
    margin-bottom: 5rem;

    @media (max-width: $md3+px) {
        margin-bottom: 24px;
    }

    & > li {
        padding: 3.6rem 0;
        border-bottom: 1px solid $borderColor;

        @media (max-width: $md3+px) {
            padding: 24px 0;
        }

        &:nth-child(even) {
            & .reviews-list-card {
                @media (min-width: 992px) {
                    flex-direction: row-reverse;
                }
            }

            & .reviews-list-card__col-1 {
                @media (min-width: 992px) {
                    flex: 1 1 auto;
                    margin-right: 0;
                    margin-left: 8rem;
                }
            }
            & .reviews-list-card__col-2 {
                @media (min-width: 992px) {
                    flex: 0 0 50%;
                }
            }
        }
    }
}


.leave-comment {

    &__title {
        margin-bottom: 5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__body {
        display: flex;
        min-width: 0;

        @media (max-width: $md2+px) {
            flex-direction: column-reverse;
        }
    }

    &__col-1 {
        flex: 0 0 50%;
        margin-right: 8rem;
        min-width: 0;

        @media (max-width: $md2+px) {
            flex: 1 1 auto;
            margin-right: 0;
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        min-width: 0;

        @media (max-width: $md2+px) {
            flex: 0 1 auto;
            margin-bottom: 5rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 36px;
        }
    }
}
