.side-panel {
    position: fixed;
    z-index: 48;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100%;

    transition: transform 0.6s ease;
    transform: translateX(0%);

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(#3c3c3c, 0.5);
        transition: transform 0.6s ease;
        transform: translateX(-100%);
        display: block;
    }

    &--open {
        transform: translateX(100%);

        &::before {
            transition: transform 0.6s ease 0.3s;
            transform: translateX(0%);
        }

        & .side-panel__body {
            transform: translateX(0%);
        }

        & .side-panel__close {
            opacity: 1;
        }
    }

    &__body {
        background-color: $bg;
        height: 100%;
        width: 100%;
        transition: transform 0.6s ease;
        transform: translateX(-100%);
        position: relative;
        z-index: 2;
    }

    &__close {
        position: absolute;
        top: 18px;
        right: 18px;
        z-index: 4;
        opacity: 0;

        & > span {
            width: 26px;
            height: 26px;
            transform: rotate(45deg);
            display: block;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 100%;
                background-color: $mainColor;
            }
            &:after {
                position: absolute;
                content: "";
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 2px;
                background-color: $mainColor;
            }
        }

        &--circle {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            background-color: $lightColor;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease 0s !important;

            @media (max-width: $md3+px) {
                height: 36px;
                width: 36px;
            }

            & > span {
                height: 12px;
                width: 12px;

                &:before,
                &:after {
                    background-color: $mainColor;
                }

                &:before {
                    width: 1px;
                }
                &:after {
                    height: 1px;
                }
            }

            @media (min-width: 992px) {
                &:hover {
                    background-color: $hover;
                    transition: all 0.3s ease 0s !important;
                    & > span {
                        &:before,
                        &:after {
                            background-color: $lightColor;
                        }
                    }
                }
            }
        }
    }

    &__head {
        height: 10rem;
        display: flex;
        align-items: center;
        position: relative;
        padding: 1.5rem 3rem;

        @media (max-width: $md2+px) {
            height: 60px;
        }

        @media (max-width: $md3+px) {
            height: 60px;
            padding: 10px 20px;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: 1px;
            bottom: 0px;
            background-color: #c4c4c4;
        }
    }

    &__scroll-wrap {
        height: calc(100% - 60px);
        overflow: auto;
        min-width: 0;
        min-height: 0;

        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: $mainColor;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #b3afb3;
        }
        &::-webkit-scrollbar-track {
            background: #e7e7e7;
            border-radius: 10px;
            box-shadow: inset 0px 0px 0px 0px #f0f0f0;
        }

        & .swiper-slide {
            height: auto;
        }
    }
    

    &--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        right: auto;
        left: 100%;

        &::before {
            transform: translateX(100%);
        }

        & .side-panel__body {
            width: 100%;
            max-width: 72rem;
            transform: translateX(100%);

            @media (max-width: $md3+px) {
                background-color: transparent;
                max-width: none;
                & > * {
                    background-color: $bg;
                }
            }
        }

        &.side-panel--open {
            transform: translateX(-100%);

            &::before {
                transform: translateX(0%);
            }

            & .side-panel__body {
                transform: translateX(0%);
            }
        }

        & .side-panel__scroll-wrap {
           // height: calc(100% - 10rem - 10.8rem);
            padding-bottom: 0;

            @media (max-width: $md3+px) {
               // height: auto;
               // max-height: calc(100% - 60px - 166px);
            }
        }
    }
}

.selected-products {
    &__title {
    }

    &__count {
        font-size: 1.6rem;
        line-height: 1.5em;
        margin-left: 2.4rem;

        @media (max-width: $md3+px) {
            margin-left: 12px;
            font-size: 14px;
        }
    }

    &__list {
        padding: 0 3rem;
        margin-bottom: 0;
        @media (max-width: $md3+px) {
            padding: 0 20px;
        }
        & > li {
            padding: 2.4rem 0;
            border-bottom: 1px solid $borderColor;

            @media (max-width: $md3+px) {
                padding: 16px 0;
            }
        }
    }

    &__bottom {
        border-top: 1px solid $borderColor;

        @media (max-width: $md3+px) {
            padding: 0 20px;
        }
    }

    &__bottom-row {
        &--1 {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $borderColor;
            padding: 2.4rem 3rem 2.4rem 8rem;

            @media (max-width: $md3+px) {
                border-bottom: 0;
                padding: 10px 0 0;
            }
        }
        &--2 {
            display: flex;
            justify-content: space-between;
            padding: 2rem 3rem 3rem 8rem;

            @media (max-width: $md3+px) {
                padding: 15px 0 10px;
                flex-direction: column-reverse;
            }

            & > * {
                flex: 0 1 calc(50% - 1.4rem);

                @media (max-width: $md3+px) {
                    flex: 0 1 auto;

                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    &__bottom-text {
        font-size: 1.6rem;
        line-height: 150%;
        max-width: 30rem;

        & p {
            margin-bottom: 0;
        }
    }

    &__bottom-label {
        font-size: 1.8rem;
        line-height: 150%;
    }

    &__bottom-total {
        font-family: $titleFontFamily;
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 130%;

        @media (max-width: $md3+px) {
            font-size: 18px;
        }
    }

    & .side-panel__close--circle {
        position: static;
        margin-left: auto;
    }

    & .order-card {
        @media (max-width: $md3+px) {
            & .order-card__img {
                width: 80px;
                height: 80px;
            }

            & .order-card__title {
                padding-top: 0;
                min-height: auto;
                padding-bottom: 0;
                margin-bottom: 9px;
            }

            & .order-card__info-wrap {
                margin-left: 0;
            }
        }
    }
}
