.blog-preview {
    &__head {
        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    & .head__title {
        margin-bottom: 0;
    }

    & .slider-buttons {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__list {
        & .swiper-wrapper {
            @media (min-width: 768px) {
                display: block;
            }
        }
        & .swiper-slide {
            @media (min-width: 768px) {
                border-bottom: 1px solid #b9b9b9;
                &:first-child {
                    border-top: 1px solid #b9b9b9;
                }
            }

            @media (max-width: $md3+px) {
                width: auto;   
            }

        }
    }

    &__bottom {
        text-align: center;
        padding-top: 6.4rem;

        @media (max-width: $md2+px) {
            padding-top: 50px;
        }
        @media (max-width: $md3+px) {
            padding-top: 24px;
        }
    }

    &__btn-desk {
        @media (max-width: $md3+px) {
            display: none;
        }

        & .btn-with-arrow {
            text-transform: uppercase;
        }
    }

    &__btn-mob {
        @media (min-width: 768px) {
            display: none;
        }

        & .btn-default {
            width: 100%;
        }
    }
}

.blog-preview-card {
    display: flex;
    padding: 2.4rem 3rem 2.4rem 0;


    @media (min-width: 992px) {
        &:hover {
            & .blog-preview-card__arrow {
                animation: blog-preview-card-arrow-anim 2s ease infinite;
            }
        }
    }

    @media (max-width: $md3+px) {
        display: block;
        padding: 0;
        width: 275px;
    }

    &__col-1 {
        flex: 0 0 auto;
        margin-right: 12.6rem;

        @media (max-width: $md2+px) {
            margin-right: 24px;
        }

        @media (max-width: $md3+px) {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__img {
        width: 32rem;
        height: 21.2rem;

        @media (max-width: $md3+px) {
            height: 0;
            width: 100%;
            padding-bottom: 66.26%;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: -3rem;
        transform: translateY(-50%);
        font-size: 1.8rem;

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    @keyframes blog-preview-card-arrow-anim {
        0% {
            transform: translateY(-50%) translateX(0);
        }
        50% {
            transform: translateY(-50%) translateX(-1em);
        }
        100% {
            transform: translateY(-50%) translateX(0);
        }
    }

    &__date {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        color: #777777;
        margin-bottom: 1.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
            display: none;
        }
    }

    &__title {
        font-family: $titleFontFamily;
        margin-top: auto;
        font-weight: 600;
        text-transform: uppercase;
        max-width: 32rem;
        margin-bottom: 0.8rem;
        font-size: 18px;
        line-height: 1.5em;

        @media (max-width: $md3+px) {
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.5em;
        max-width: 57rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            display: none;
        }
    }
}