.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(#3c3c3c, 0.85);
	z-index: 50;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	white-space: normal;
	outline: none;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(0);

	@media (max-width: $md3+px) {
		overflow: hidden !important;
	}

	&--open {
		opacity: 1;
		visibility: visible;

		& .popup__content {
			opacity: 1;
		}
	}

	&--second {
		& .popup__body {
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
		}

		& .popup__content {
			height: auto;
		}
	}

	&__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem;

		@media (max-width: $md3+px) {
			padding: 0;
			display: block;
			background-color: $bg;
			height: 100%;
		}

	}

	&__close-btn {
		cursor: pointer;
		transition: all 0.3s ease;

		@media (min-width: 992px) {
			&:hover {
				color: $mainColor;
			}
		}
	}

	&__content {
		opacity: 0;
		transition: all 0.8s ease 0s;
		background-color: $bg;
		width: 100%;
		max-width: 98rem;
		padding: 3rem;
		position: relative;

		@media (max-width: $md3+px) {
			height: 100%;
			padding: 15px 20px;
		}
	}

	&__close {
		position: absolute;
		top: 3rem;
		right: 3rem;
		cursor: pointer;
		z-index: 5;
		height: 5rem;
		width: 5rem;
		border-radius: 50%;
		background-color: $lightColor;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease;

		@media (max-width: $md3+px) {
			height: 36px;
			width: 36px;
			top: 12px;
			right: 20px;
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#fff, 0.1);
			}
		}

		& > span {
			position: relative;
			width: 12px;
			height: 12px;
			transform: rotate(45deg);
			display: block;
			&:before {
				position: absolute;
				content: "";
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 1px;
				height: 100%;
				background-color: $mainColor;
			}
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
				background-color: $mainColor;
			}
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: $hover;
				transition: all 0.3s ease 0s !important;
				& > span {
					&:before,
					&:after {
						background-color: $lightColor;
					}
				}
			}
		}
	}
}

.popup-box {
	@media (max-width: $md3+px) {
		height: 100%;
	}

	&__head {
		padding-bottom: 3rem;
		border-bottom: 1px solid $borderColor;
		margin-bottom: 3.6rem;

		@media (max-width: $md3+px) {
			padding-bottom: 14px;
			margin-bottom: 24px;
		}
	}

	&__title {
		margin-bottom: 0;

		&.text-transform-none {
			@media (min-width: 768px) {
				text-transform: uppercase !important;
			}
		}
	}

	&__body {
		display: flex;

		@media (max-width: $md3+px) {
			display: block;
			height: calc(100% - 51px);
			overflow: auto;
		}

		&.d-block {
			@media (min-width: 768px) {
				& .form__title {
					text-align: center !important;
					font-size: 2.4rem;
					line-height: 150%;
					margin-bottom: 5rem;
				}

				& .form__items {
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 2.4rem;
					width: 100%;
					max-width: 46rem;
				}

				& .form__submit  {
					margin-left: auto;
					margin-right: auto;
					width: 100%;
					max-width: 46rem;
				}
			}
		}
	}

	&__col-1 {
		@media (min-width: 768px) {
			flex: 0 0 56.52%;
			padding-right: 5rem;
			margin-right: 4rem;
			border-right: 1px solid $borderColor;
		}

		@media (max-width: $md3+px) {
			margin-bottom: 24px;
		}

		& .form__item {
			&:first-child {
				margin-top: -1.2rem;

				@media (max-width: $md3+px) {
					margin-top: -16px;
				}
			}
		}
	}

	&__col-2 {
		flex: 1 1 auto;

		@media (max-width: $md3+px) {
			border-top: 1px solid $borderColor;
			padding-top: 24px;
			padding-bottom: 16px;
		}
	}
}

.social-login {
	&__title {
		font-size: 2.4rem;
		line-height: 1.5em;
		text-align: center;
		margin-bottom: 2.4rem;

		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}

	&__list {
		padding-left: 0;
		margin-bottom: 0;

		& > li {
			margin-bottom: 1.6rem;

			& .btn-default {
				width: 100%;
			}
		}
	}
}
