.form {
    pointer-events: auto;

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        min-width: 0;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__item {
        flex: 0 1 100%;
        min-width: 0;
        &:not(:last-child) {
            margin-bottom: 3.6rem;

            @media (max-width: $md3+px) {
                margin-bottom: 24px;
            }
        }

        & .test {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }

    &__submit {
    }
}


.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0;
    height: 6rem;
    padding: 1.2rem 0;
    border: none;
    border-bottom: 1px solid $borderColor;
    outline: none;
    font-size: 2.4rem;
    line-height: 1.5em;
    color: $textColor;

    @media (max-width: $md3+px) {
        font-size: 14px;
        height: 53px;
        padding: 16px 0;
    }

    &:focus {
        border-color: $mainColor;
    }

    &::placeholder {
        font-size: 2.4rem;
        color: $textColor;

        @media (max-width: $md3+px) {
            font-size: 14px;
        }
    }
}

.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0;
    height: 6rem;
    min-height: 6rem;
    padding: 1.2rem 0;
    border: none;
    border-bottom: 1px solid $borderColor;
    outline: none;
    font-size: 1.8rem;
    line-height: 1.5em;
    color: $textColor;
    resize: none;
    transition: all .3s ease;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $md3+px) {
        font-size: 14px;
        height: 53px;
        min-height: 53px;
        padding: 16px 0;
    }


    &::placeholder {
        font-size: 2.4rem;
        color: $textColor;
        
        @media (max-width: $md3+px) {
            font-size: 14px;
        }
    }
}
.textarea-wrapper {
    position: relative;
    border-bottom: 1px solid $borderColor;

    & .textarea {
        border: none;
    }

    &.textarea-has-text {

        &:not(.textarea-is-focus) {
            & .textarea {
                opacity: 0;
            }

            & .textarea-text-mask {
                opacity: 1;
            }
        }
    }

    &.textarea-is-focus {
        border-color: $mainColor;
        & .textarea {
            min-height: 12rem;
        }
    }
}
.textarea-text-mask {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
    line-height: 1.5em;
    opacity: 0;

    @media (max-width: $md3+px) {
        font-size: 14px;
    }

    & br {display: none;}
}

.textarea-size-box {
    position: absolute;
    z-index: 3;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 6rem;
    padding: 1.2rem 0;
    font-size: 1.8rem;
    line-height: 1.5em;
    opacity: 0;
    word-break: break-word;

    @media (max-width: $md3+px) {
        font-size: 14px;
        min-height: 53px;
        padding: 16px 0;
    }
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-color: $active;
                border-color: $active;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjk5OTk5OSA0LjYzNTg4TDIuNDc0NzEgNi4xMTA1OUMyLjg2NTIzIDYuNTAxMTEgMy40OTg0IDYuNTAxMTEgMy44ODg5MiA2LjExMDU5TDkgMC45OTk1MTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 1.2rem;
        width: 1.2rem;
        border: 1px solid $mainColor;
        margin-right: 1rem;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5em;
    }
}

